* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.draggable-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  border: 2px #000033 solid;
  border-radius: 22px;
  column-gap: 5px;
  margin: auto;
}

.draggable-box img {
  width: 65px;
  height: 175px;
}

#drop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  border: 2px #000033 solid;
  border-radius: 22px;
  column-gap: 5px;
  margin: auto;
}

#drop:hover {
  border: 2px #990000 solid;
}

#draggable-box img {
  width: 65px;
  height: 175px;
}