* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.draggable-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  border: 2px #000033 solid;
  border-radius: 22px;
  column-gap: 5px;
  margin: auto;
}

.draggable-box img {
  width: 65px;
  height: 175px;
}

.content-drop {
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  border: 2px #000033 solid;
  border-radius: 22px;
  column-gap: 5px;
  margin: auto;
}

.content-drop:hover {
  border: 2px #990000 solid;
}

#draggable-box img {
  width: 65px;
  height: 175px;
}

.wrapper {
  display: grid;
  min-height: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100%, 100%);
  border-radius: 22px;
}

.one {
  background-color: #880033;
  grid-column: 1;
  grid-row: 1;
  height: 100%;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
}

.two {
  background-color: #000033;
  grid-column: 2;
  grid-row: 1;
  height: 100%;
}

.three {
  background-color: #006633;
  grid-column: 3;
  grid-row: 1;
  height: 100%;
}

.four {
  background-color: #000033;
  grid-column: 4;
  grid-row: 1;
  height: 100%;
}

.five {
  background-color: #000033;
  grid-column: 5;
  grid-row: 1;
  height: 100%;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
}