* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  min-height: 4096px;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: blue;
  min-height: 20px;

}